<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
   <section name="MallManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<connectionStrings>
		<add name="DBConnection" connectionString="data source=(localdb)\MSSQLLocalDB;Initial Catalog=MallDb;Integrated Security=True;"
	 providerName="System.Data.SqlClient"/>
	</connectionStrings>
 <userSettings>
  <MallManager.Properties.Settings>
   <setting name="Language" serializeAs="String">
    <value>ru</value>
   </setting>
  </MallManager.Properties.Settings>
 </userSettings>
</configuration>